* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}

body {
    overflow: hidden;
}

/* jumbotron */
.jumbotron {
    background-image: url(./hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0px !important;
}

.jumbotron h1 {
    margin: 30px 0;
    font-size: 40px;
    line-height: 1.5;
    text-shadow: 0 0 5px black;
}

.intro {
    padding-top: 60px;
}

.intro img {
    width: 120px;
}
/* navbar */
.nav-cat {
    color: #fff !important;
    margin: 0 20px;
    margin-top: 30px;
}

.navbar-toggler {
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler .fas {
    color: #fff;
    font-size: 26px;
}
.nav-drop:hover,
.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

#header .btn {
    border: 1px solid #fff;
    margin-top: 20px;
    padding: 6px 26px;
    font-size: 16px;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0,.8);
}

.nav-drop {
    color: #fff !important;
    background-color: transparent !important;
}
/* modal */
.modal-content {
    border: none;
}

.modal-header {
    border: none;
    padding-top: 0px;
}

.close {
    outline: none !important;
    box-shadow: none !important;
}
.nextModal {
    color: #212529 !important;
    border-bottom: 1px solid #e71f3d;
}
.nextModal:hover {
    font-weight: 600;
    text-decoration: none;

}
/* input field for login modal */
.login {
    outline: none !important;
    box-shadow: none !important;
}

.login:active,
.login:focus {
    border: 1px solid black !important;
}
/* button for login submit */
.btn-black {
    color: #fff !important;
    background-color: #333;
    border-color: #333;
    outline: none !important;
    box-shadow: none !important;
}

.btn-black:hover {
    background-color: rgb(32, 32, 32);
}

.btn-black:active,
.btn-black:focus {
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 3px black !important;
}
/* footer tint */
.copyright {
    font-size: 16px;
}

@media only screen and (max-width: 1000px){
    .navbar {
        background-color: rgba(0, 0, 0, .8);
    }

    .dropdown-menu {
        background-color: transparent;
    }

    .nav-cat {
        margin: 0px 5px 0 17px;
        margin-top: 0px;
    }

    .nav-drop:hover,
    .nav-link:hover {
        border-bottom: none;
    }

    .intro {
        padding-top: 130px;
    }
}

@media only screen and (max-width: 600px){
    .jumbotron {
        line-height: 1.7;
    }

    .intro {
        padding-top: 100px;
    }

    .intro img {
        width: 140px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 500px){
    footer .row{
        justify-content: center !important;
        text-align: center !important;
    }
}