<div class="modal fade" id="recipeChosen" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="recipes">
                    <div class="container justify-content-center d-flex">
                        <div class="col-lg-12">
                            <img src="/images/recipe1.jpg" alt="ramen noodles" class="img-fluid" />
                            <div class="recipeTitle">
                                <h1>Pork Ramen</h1>
                            </div>
                            <div class="row">
                                <span class="recipeUser col-lg-4 text-center">
                                    BubbaJoe
                                </span>
                                <span class="col-lg-4 text-center">
                                    <i class="far fa-clock card-time"></i>
                                    <span class="card-time">35 min</span>
                                </span>
                                <span class="card-rating col-lg-4 text-center">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                            </div>
                            <div class="col-lg-10 recipeInst mx-auto my-3 p-3">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Voluptatem, nam. Impedit quasi aliquam voluptates minima
                                    soluta obcaecati sit veritatis error sed velit, esse,
                                    quibusdam quas mollitia necessitatibus officia quod aut.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>