<div class="modal fade" id="recipeChosen" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="recipes">
                    <div class="container justify-content-center d-flex">
                        <div class="col-lg-12">
                            <img src="/images/recipe1.jpg" alt="ramen noodles" class="img-fluid" />
                            <div class="recipeTitle">
                                <h1>Pork Ramen</h1>
                            </div>
                            <div class="row">
                                <span class="recipe-text col-lg-3 text-center">
                                    FarmerBubbaJoe
                                </span>
                                <span class="col-lg-3 text-center">
                                    <i class="far fa-clock card-time"></i>
                                    <span class="card-time">35 min</span>
                                </span>
                                <span class="col-lg-3 text-center">
                                    <span class="recipe-text">Yield: 4 servings</span>
                                </span>
                                <span class="card-rating col-lg-3 text-center">
                                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label for="star5" title="5 star"></label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label for="star4" title="4 star"></label>
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label for="star3" title="3 star"></label>
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label for="star2" title="2 star"></label>
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label for="star1" title="1 star"></label>
                                    </div>
                                </span>
                            </div>
                            <div class="col-lg-10 recipeInst mx-auto my-3 p-3">
                                <h4 class="text-center">Ingredients</h4>
                                <ul class="m-3 row bottom-border">
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">olive oil</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">pork loin</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">chili flakes</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">garlic</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">pepper</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">salt</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">paprika</li>
                                    </span>
                                    <span class="col-lg-6 p-0">
                                        <li class="ing-list">noodles</li>
                                    </span>
                                </ul>
                                <div class="bottom-border">
                                    <h4 class="text-center">Directions</h4>
                                    <p class="mb-1">To soak the beans overnight, place them in a large bowl or pot and
                                        cover them
                                        with a few inches of water. Drain the beans in the morning.
                                        Heat a large pot over medium heat and add the butter and olive oil. Stir in the
                                        onion, garlic, salt, pepper and pepper flakes. Cook until the onions soften,
                                        about 5 minutes.
                                        Add the diced tomatoes and vegetable stock. Add the bread in chunks. Stir in the
                                        beans, parmesan cheese and parmesan rind. Bring the mixture to a boil, then
                                        reduce it to a simmer and cover it. Cook for 30 to 40 minutes, stirring
                                        occasionally to make sure nothing is sticking to the bottom. If it is, reduce
                                        the heat!
                                    </p>
                                </div>
                                <div>
                                    <h4 class="text-center mt-3">Notes</h4>
                                    <ul>
                                        <li class="ing-list">If you have dry beans, soak them overnight instead.</li>
                                        <li class="ing-list">If you have dry beans, soak them overnight instead.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>